__pycache__
*.ply
.idea
datasets/
logs
checkpoints/
outputs/
.ipynb_checkpoints/
ARKitScenes/
data/**/*
scratch_book.py
*.ply
*.mp4
runs/
.eggs
external/NumpyMarchingCubes/build
external/NumpyMarchingCubes/dist
external/NumpyMarchingCubes/NumpyMarchingCubes.egg-info
*.zip
cmake-build-debug
.vscode
nerfusion
neural_rgbd
CMakeLists.txt